# Sistema de archivos
.DS_Store
*.log
*.pid
*.sqlite3
*.sqlite3-journal

# Dependencias de Bundler
/vendor/bundle/

# Archivos de configuración local
/config/master.key
/config/credentials.yml.enc

# Archivos temporales de Rails
/tmp
/cache
/log
/storage
/public/packs
/public/packs-test
/public/assets

# Carpetas de test
/test/tmp
/test/cache

# Carpeta de caché de bootsnap
/tmp/cache/bootsnap-*

# Entornos de desarrollo específicos
/.env
/.env.local

# Configuración de la base de datos
/database.yml

# IDEs y editores
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos de logs de Rails
/log/*.log
/log/*.pid

# Otros archivos de caché y configuraciones locales
*.swp
*.swo

# Ignorar gemas instaladas localmente
.gem
